[submodule "lib/ArmContext"]
	path = lib/ArmContext
	url = https://github.com/sogimu/ArmContext.git
[submodule "lib/Gizmo"]
	path = lib/Gizmo
	url = https://github.com/sogimu/Gizmo.git
[submodule "lib/stats.js"]
	path = lib/stats.js
	url = https://github.com/mrdoob/stats.js
[submodule "lib/Closure-compiler"]
	path = lib/Closure-compiler
	url = https://github.com/sogimu/Closure-compiler
